{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% block extra_head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Forgot Password form using Material Design - Demo by W3lessons</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<body class="yellow">
  <div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form class="login-form" method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12 center">
            <img src="http://w3lessons.info/logo.png" alt="" class="responsive-img valign profile-image-login">
            <p class="center login-form-text">Code Stadium</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="id_email" maxlength="30" name="email" class='validate' type='text'  />
              <label for='id_login'>Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="submit" class="btn waves-effect waves-light col s12" value="{% trans 'Reset My Password' %}" />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="register.html">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="login.html">Login</a></p>
          </div>          
        </div>

      </form>
    </div>
  </div>
</body>

<style type="text/css">
html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
.margin {
  margin: 0 !important;
}
</style>


{% endblock %}
